.primary-nav {
    width: 88%;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    @include respond(phone) {
      position: fixed;
      flex-flow: column nowrap;
      height: auto;
      align-items: center;  
      padding: 0;
    }
  }

  .logo {
    position: relative;
    // width: 163px;
    height: 1em;
    font-size: 3.3rem;

    @include respond(phone) {
      padding: $mobile-nav-item-gap 20px;
      border-bottom: solid 2px $color-warm-grey-light;
      width: 100%;
      height: 74px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  
    &__text {
      font-family: "GT-America", sans-serif;
      font-weight: bold;
      font-size: 3.3rem;
      background: linear-gradient(to right, navy, $color-pink);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding: 0;
      line-height: 1em;
      vertical-align: middle;
    }
  
    &__detail {
      position: absolute;
      top: 11.6px;
      left: 1.45%;
      width: .2em;
      height: .1em;
      background-color: white;

      @include respond(phone) {
        top: calc( 22% + #{$mobile-nav-item-gap});
        left: calc( .6% + 20px );
      }
    }
  }
  
  .main-nav {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: flex-end;
    margin: 0;
    width: 80%;
    list-style: none;
    background-color: white;
    text-decoration: none;

    @include respond(phone) {
      flex-flow: column nowrap;
      height: auto;
      justify-content: flex-start;
      width: 100%;
    }
  
    li {
      position: relative;
      height: auto;
      margin: 0px 2%;
      font-family: "GT-America", sans-serif;
      font-size: 1.6rem;
      text-align: center;
      color: $color-black;

      @include respond(phone) {
        width: 100%;
        padding: 0 20px;
        border-bottom: solid 1px $color-warm-grey-light;
        margin: 0;
        height: $mobile-nav-item-height;
        line-height: $mobile-nav-item-height;
        vertical-align: middle; 
      }

      a {
        display: block; 
        padding: 5px 10px;
        height: 100%;
        text-decoration: none; 
        text-align: center;
        transition: all .3;
      }
  
      a:link,
      a:visited {
        color: $color-black;

       @include respond(phone) {
        text-align: left;
        padding: 0;
       }

      }

      a:hover,
      a:active {
        background-image: linear-gradient(to right, navy, $color-pink);
        color: white;
      }
    }
  }
  
  .sticky {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
  }
  
  .sticky .main-nav {
    margin-top: 5px;
  
    @include respond(phone) {
      margin-top: 0px;
    }
  
    li a:link,
    li a:visited {
      @include respond(phone) {
        padding: 10px 0;
      }
    }
  }
  
  .sticky .mobile-nav-icon {
    i {
      //color: lighten($color-primary, 50%);
    }
  }
  
  .mobile-nav-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0%;
    width: 30px;
    height: 74px;
  
    @include respond(phone) {
      display: block;
    }
  }
  
  .mobile-nav-icon i {
    color: #a8a8a8;
    width: 150px !important;
    height: 74px;
    font-size: 3.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  
  .sticky .mobile-nav-icon {
    @include respond(phone) {
      display: inline-block;
    }
  }
