.btn {
  display: inline-block;
  font-family: "GT-America", sans-serif;
  //margin: 0;
  
  padding: .6em .83em;
  line-height: 1.4em;

  &-gradient {
    background-image: linear-gradient(to right, green, $color-pink);
    color: white;
  }

  &-ghost {
    border: white 1px solid;
    color: white;
  }

  &-red {
    background-color: $color-red;
    color: white;
  }
}