@charset "UTF-8";

@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America/GT-America-Standard-Regular.eot");
  src: url("../fonts/GT-America/GT-America-Standard-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GT-America/GT-America-Standard-Regular.woff2") format("woff2");
  src: url("../fonts/GT-America/GT-America-Standard-Regular.woff") format("woff");
  src: url("../fonts/GT-America/GT-America-Standard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America/GT-America-Standard-Regular-Italic.eot");
  src: url("../fonts/GT-America/GT-America-Standard-Regular-Italic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GT-America/GT-America-Standard-Regular-Italic.woff2") format("woff2");
  src: url("../fonts/GT-America/GT-America-Standard-Regular-Italic.woff") format("woff");
  src: url("../fonts/GT-America/GT-America-Standard-Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America/GT-America-Standard-Bold.eot");
  src: url("../fonts/GT-America/GT-America-Standard-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GT-America/GT-America-Standard-Bold.woff2") format("woff2");
  src: url("../fonts/GT-America/GT-America-Standard-Bold.woff") format("woff");
  src: url("../fonts/GT-America/GT-America-Standard-Bold.ttf") format("truetype");
  
  
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America/GT-America-Standard-Bold-Italic.eot");
  src: url("../fonts/GT-America/GT-America-Standard-Bold-Italic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GT-America/GT-America-Standard-Bold-Italic.woff2") format("woff2");
  src: url("../fonts/GT-America/GT-America-Standard-Bold-Italic.woff") format("woff");
  src: url("../fonts/GT-America/GT-America-Standard-Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America/GT-America-Standard-Light.eot");
  src: url("../fonts/GT-America/GT-America-Standard-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GT-America/GT-America-Standard-Light.woff2") format("woff2");
  src: url("../fonts/GT-America/GT-America-Standard-Light.woff") format("woff");
  src: url("../fonts/GT-America/GT-America-Standard-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "GT-America";
  src: url("../fonts/GT-America/GT-America-Standard-Light-Italic.eot");
  src: url("../fonts/GT-America/GT-America-Standard-Light-Italic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GT-America/GT-America-Standard-Light-Italic.woff2") format("woff2");
  src: url("../fonts/GT-America/GT-America-Standard-Light-Italic.woff") format("woff");
  src: url("../fonts/GT-America/GT-America-Standard-Light-Italic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}
