/* .u-center-inline-block {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
} */

/* .icon-big {
  display: block;
  font-size: 0.03rem;
  color: #170d43;
  margin-bottom: 20px;
  text-align: center;
} */
