.section-news {
  padding-bottom: 0;

  .col-1-of-4,
  .col-1-of-3 {
    padding: 0% 1% 1% 2%;
    border-left: 1px solid #120b34;

    @include respond(phone) {
      border-left: 0;
    }
  }

  [class^="col-"]:last-child {
    padding-right: 2%;
    border-right: 1px solid #06000b;

    @include respond(phone) {
      border-right: 0;
    }
  }

  &__summary {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 145%;
    text-align: center;
    margin-bottom: 45px;
    font-size: 1.6rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  }

  &__height {
    height: auto;
    overflow: hidden;
    transition: height 2s;
  }
}

.section-cd-showcase {
  padding: 80px 0px;
  min-height: 100vh;
}

.section-contact {
  padding: 0;
}